<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>DevMinds</title>
</head>
<body>
  <%- include('./partials/navBar.ejs') %>
  
  <section id="videoBackground" class="section-conteiner">
    <p id="header">home nashe</p>
    <div class="welcome-box">
      <h1 class="welcome-h1">
        Welcome <br>
        To DevMinds
      </h1>
      <p class="welcome-p">
        Unleashing the Power of Web Development!
      </p>
    </div>
    <video autoplay muted loop id="background-video">
      <source src="/videos/fondo.mp4" type="video/mp4">
      <source src="/videos/fondo.webm" type="video/webm">
  </video>
</section>
  </section>
  <!-------------------------- about us ------------------------->
  <div id="about">
    <div class="container" >
        <div class="row">
            <div class="aboutCol1">
                <h1 class="title">About Us</h1>
                <p class="about-p">Welcome to DevMinds! We are a dynamic and innovative web development company dedicated to transforming visions into reality. Our passion lies in creating exceptional web pages that not only mesmerize visitors but also empower businesses to thrive in the digital realm. As a team of skilled developers, designers, and creative minds, we take pride in delivering tailored solutions that cater to our clients' unique needs and aspirations.</p>
            </div>
            <hr>
            <div class="aboutCol2">
            </div>
        </div>
    </div>
  </div>

<!-------------------------- developers ------------------------->
<main class="developers-main">
  <div>
    <div class="container2"  id="developers">
        <h1 class="subTitle2">Developers</h1>
        <div class="servicesList">
        </div>
    </div>
  </div>
  <div class="developers">
    <%- include('./partials/cardFran') %>
    <%- include('./partials/cardFacu') %>
    <%- include('./partials/cardMarco') %>
  </div>
</main>
<script src="/javascripts/index.js"></script>


<!-------------------------- Contact ------------------------->

<div id="contact">
  <div class="container3">
    <div class="row2">
      <div class="contactLeft">
        <h1 class="subTitle3">Contact Us</h1>
        <p><i class="fas fa-paper-plane"></i>devmindsbusiness@gmail.com</p>
        <p><i class="fas fa-phone-square-alt"></i>+54 3424722458</p>
        <p><i class="fa-solid fa-location-dot"></i>Santa Fe, Argentina</p>
        <div class="socialIcons">
          <a href="https://www.instagram.com/devminds_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/devminds_" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/devminds8" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="contactRight">
      <form action="https://formspree.io/f/xyyqkqpv" method="POST">
        <input type="text" name="Name" placeholder="Your name" required>
          <input type="text" name="Email" placeholder="Your email" required>
          <textarea name="Message" rows="6" placeholder="Your message"></textarea>
          <button type="submit">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/contactForm.js"></script>

<div class="copyright">
  <p>Copyright © DevMinds. Made by DevMinds' Developer Team</p>
</div>

</body>
</html>