<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <title>DevMinds</title>

</head>
<body>
  <div class="loader-container">
    <div class="loader"></div>
  </div>
  <%- include('./partials/navBar.ejs') %>

  <section id="videoBackground" class="section-conteiner">
    <p id="header" class="homenashe">home nashe</p>
    <div class="welcome-box">
      <h1 class="welcome-h1">
        Welcome <br>
        To DevMinds
      </h1>
      <p class="welcome-p">
        Unleashing the Power of Web Development!
      </p>
    </div>
    <video autoplay muted loop id="background-video">
      <source src="/videos/fondo.webm" type="video/webm">
  </video>
</section>
  </section>
  <!-------------------------- about us ------------------------->
  <div id="about">
    <div class="container" >
        <div class="row">
            <div class="aboutCol1">
                <h2 class="title">About Us</h2>
                <p class="about-p">Welcome to DevMinds! We are a dynamic and innovative web development company dedicated to transforming visions into reality. Our passion lies in creating exceptional web pages that not only mesmerize visitors but also empower businesses to thrive in the digital realm. As a team of skilled developers, designers, and creative minds, we take pride in delivering tailored solutions that cater to our clients' unique needs and aspirations.</p>
            </div>
            <hr>
            <div class="aboutCol2">
              <svg fill="#ffffff"  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 502.643 502.643" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="5.0264299999999995"> <g> <g> <path d="M251.256,237.591c37.166,0,67.042-30.048,67.042-66.977c0.043-37.037-29.876-66.999-67.042-66.999 c-36.908,0-66.869,29.962-66.869,66.999C184.387,207.587,214.349,237.591,251.256,237.591z"></path> <path d="M305.032,248.506H197.653c-19.198,0-34.923,17.602-34.923,39.194v107.854c0,1.186,0.604,2.243,0.669,3.473h175.823 c0.129-1.229,0.626-2.286,0.626-3.473V287.7C339.912,266.108,324.187,248.506,305.032,248.506z"></path> <path d="M431.588,269.559c29.832,0,53.754-24.008,53.754-53.668s-23.922-53.711-53.754-53.711 c-29.617,0-53.582,24.051-53.582,53.711C377.942,245.53,401.972,269.559,431.588,269.559z"></path> <path d="M474.708,278.317h-86.046c-15.445,0-28.064,14.107-28.064,31.472v86.413c0,0.928,0.453,1.812,0.518,2.826h141.03 c0.065-1.014,0.496-1.898,0.496-2.826v-86.413C502.707,292.424,490.11,278.317,474.708,278.317z"></path> <path d="M71.011,269.559c29.789,0,53.733-24.008,53.733-53.668S100.8,162.18,71.011,162.18c-29.638,0-53.603,24.051-53.603,53.711 S41.373,269.559,71.011,269.559L71.011,269.559z"></path> <path d="M114.109,278.317H27.977C12.576,278.317,0,292.424,0,309.789v86.413c0,0.928,0.453,1.812,0.539,2.826h141.03 c0.065-1.014,0.475-1.898,0.475-2.826v-86.413C142.087,292.424,129.489,278.317,114.109,278.317z"></path> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M251.256,237.591c37.166,0,67.042-30.048,67.042-66.977c0.043-37.037-29.876-66.999-67.042-66.999 c-36.908,0-66.869,29.962-66.869,66.999C184.387,207.587,214.349,237.591,251.256,237.591z"></path> <path d="M305.032,248.506H197.653c-19.198,0-34.923,17.602-34.923,39.194v107.854c0,1.186,0.604,2.243,0.669,3.473h175.823 c0.129-1.229,0.626-2.286,0.626-3.473V287.7C339.912,266.108,324.187,248.506,305.032,248.506z"></path> <path d="M431.588,269.559c29.832,0,53.754-24.008,53.754-53.668s-23.922-53.711-53.754-53.711 c-29.617,0-53.582,24.051-53.582,53.711C377.942,245.53,401.972,269.559,431.588,269.559z"></path> <path d="M474.708,278.317h-86.046c-15.445,0-28.064,14.107-28.064,31.472v86.413c0,0.928,0.453,1.812,0.518,2.826h141.03 c0.065-1.014,0.496-1.898,0.496-2.826v-86.413C502.707,292.424,490.11,278.317,474.708,278.317z"></path> <path d="M71.011,269.559c29.789,0,53.733-24.008,53.733-53.668S100.8,162.18,71.011,162.18c-29.638,0-53.603,24.051-53.603,53.711 S41.373,269.559,71.011,269.559L71.011,269.559z"></path> <path d="M114.109,278.317H27.977C12.576,278.317,0,292.424,0,309.789v86.413c0,0.928,0.453,1.812,0.539,2.826h141.03 c0.065-1.014,0.475-1.898,0.475-2.826v-86.413C142.087,292.424,129.489,278.317,114.109,278.317z"></path> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g></svg>
            </div>
        </div>
    </div>
  </div>
  <section class="timeline">
    <ul>
      <li>
        <div class="content">
          <h2>
            <time>Mission</time>
          </h2>
          <p>At DevMinds, our mission is to deliver innovative and high-quality web solutions that drive the digital success of our clients. We are committed to providing creative designs, efficient web development, and a customer-centered approach, delivering exceptional results that make a positive impact on their businesses.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Vision</time>
          </h2>
          <p>Our vision at DevMinds is to be recognized as a leading authority in the web development market. We aspire to be the preferred choice for clients seeking top-tier digital solutions. We aim to expand our presence and reach nationally and internationally, bringing innovation and excellence to every project we undertake.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Quality and Excellence</time>
          </h2>
          <p>At DevMinds, quality and excellence are paramount in everything we do. We strive to exceed our clients' expectations, delivering high-level results and ensuring that each website we deliver is a true representation of our dedication and expertise.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Innovation</time>
          </h2>
          <p>Innovation is the cornerstone of our company. We are passionate about exploring new technologies, trends, and design techniques to provide unique and cutting-edge digital solutions that stand out from the competition and deliver an exceptional user experience.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Teamwork</time>
          </h2>
          <p>We believe that teamwork is key to achieving outstanding results. At DevMinds, we foster a culture of collaboration and effective communication, where each team member contributes their skills and knowledge to achieve collective success.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Customer Commitment</time>
          </h2>
          <p>Our clients are our priority. We commit to understanding their needs and business objectives to deliver customized and effective web solutions. Customer satisfaction is the ultimate measure of our success.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Integrity</time>
          </h2>
          <p>Integrity is a core value at DevMinds. We act with honesty, transparency, and ethics in all our interactions with clients, partners, and team members, maintaining trust and respect at all times.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Continuous Learning</time>
          </h2>
          <p>At DevMinds, we value continuous learning and professional development. We stay updated with the latest trends and web development technologies to deliver cutting-edge solutions and provide our clients with best practices and approaches.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Social and Environmental Responsibility</time>
          </h2>
          <p>We are aware of the impact we have on society and the environment. At DevMinds, we commit to being socially and environmentally responsible, supporting community initiatives and adopting sustainable practices in our operations.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Identity</time>
          </h2>
          <p>DevMinds is a company passionate about creating impactful web pages. Our team of highly skilled professionals focuses on innovation and excellence to deliver personalized and quality digital solutions.</p>
        </div>
      </li>
      <li>
        <div class="content">
          <h2>
            <time>Objectives</time>
          </h2>
          <p>Our primary objective is to provide high-quality and functional websites to our clients that enhance their online presence and help them achieve their business goals. We aim to establish strong relationships with our clients, being their trusted partner in the digital world.</p>
        </div>
      </li>
    </ul>
  </section>
  <script src=""></script>

  <!--------------------------- servicios ------------------------->

  <div id="services">
    <div class="container1">
        <h1 class="titleSer">Services</h1>
        <div class="servicesList">
            <div>
                <h2>Web Developement</h2>
                <p>At DevMinds, we excel in crafting dynamic and responsive websites that captivate audiences and deliver a seamless user experience. Our skilled developers leverage cutting-edge technologies to create websites that are visually stunning and highly functional. </p>
            </div>
            <div>
                <h2>Web Design</h2>
                <p>Design is at the heart of what we do. Our talented team of designers creates visually appealing and user-friendly interfaces that align with your brand identity and business goals. We believe in creating websites that leave a lasting impression.</p>
            </div>
              <div>
                  <h2>Responsive Design</h2>
                  <p>In today's mobile-centric world, having a website that adapts flawlessly to various devices is crucial. DevMinds specializes in responsive design, ensuring that your website looks and functions impeccably across all screen sizes and platforms.</p>
              </div>
        </div>
        <div class="extendedServices">
          <div>
            <h2>E-commerce Solutions</h2>
            <p>We offer customized e-commerce solutions for businesses looking to expand their online retail presence. Our secure and feature-rich online stores streamline the shopping experience and boost conversions.</p>
        </div>
          <div>
            <h2>SEO and Digital Marketing</h2>
            <p>A visually stunning website is only the first step. DevMinds provides SEO and digital marketing services to increase your online visibility and drive targeted traffic to your website, ensuring tangible results.</p>
        </div>
        </div>
    </div>
</div>

  <!-------------------------- developers ------------------------->
<main class="developers-main">
  <div>
    <div class="container2"  id="developers">
        <h2 class="subTitle2" style="
        text-align: center">Developers</h2>
        <div class="servicesList">
        </div>
    </div>
  </div>
  <div class="developers">
    <%- include('./partials/cardFran') %>
    <%- include('./partials/cardFacu') %>
    <%- include('./partials/cardMarco') %>
  </div>
</main>



<!-------------------------- Contact ------------------------->

<div id="contact">
  <div class="container3">
    <div class="row2">
      <div class="contactLeft">
        <h1 class="subTitle3">Contact Us</h1>
        <p><i class="fas fa-paper-plane" class="huevoTrolo"></i><a href="mailto:devmindsbusiness@gmail.com" class="huevoPuto">devmindsbusiness@gmail.com</a></p>
        <p><i class="fas fa-phone-square-alt"></i>+54 3424877933</p>
        <p><i class="fa-solid fa-location-dot"></i>Santa Fe, Argentina</p>
        <div class="socialIcons">
          <a href="https://www.instagram.com/devminds_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/devminds_" target="_blank"><i class="fa-brands fa-x-twitter"></i></i></a>
          <a href="https://www.linkedin.com/company/devminds8" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="contactRight">
      <form action="https://formspree.io/f/xyyqkqpv" method="POST">
        <input type="text" name="Name" placeholder="Your name" required>
          <input type="text" name="Email" placeholder="Your email" required>
          <textarea name="Message" rows="6" placeholder="Your message"></textarea>
          <button type="submit">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>

<button id="scrollToTopBtn" class="scroll-to-top-btn"><i class="fa-solid fa-up-long"></i></button>
<div class="copyright">
  <p>Copyright © DevMinds. Made by DevMinds' Developer Team</p>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>